@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.data-card-bg {
  background: linear-gradient(136.05deg, #16192d 7.27%, #051317 92.2%);
}

.data-card-border {
  background: linear-gradient(138.68deg, #31748a 4.03%, #0d2228 93.46%);
}

.chart-card-bg {
  background: linear-gradient(136.05deg, rgba(90, 106, 188, 0.2) 7.27%, rgba(25, 97, 120, 0.162) 92.2%);
}

.cloud-card-bg {
  background: linear-gradient(136.05deg, rgba(90, 106, 188, 0.48) 7.27%, rgba(25, 97, 120, 0.3888) 92.2%);
  backdrop-filter: blur(16.91px);
}

.cloud-public-toggle-active {
  background: linear-gradient(136.05deg, rgba(90, 106, 188, 0.4) 7.27%, rgba(25, 97, 120, 0.324) 92.2%);
  color: #96C6FF;
}

.cloud-public-toggle-bg {
  background: linear-gradient(136.05deg, rgba(90, 106, 188, 0.24) 7.27%, rgba(25, 97, 120, 0.1944) 92.2%);
  backdrop-filter: blur(6px);
}

.cloud-item-text {
  -webkit-mask-image: linear-gradient(0deg, transparent, red 50px);
}